.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/5.2.1/fileHashes/resourceHashesCache.bin
.gradle/5.2.1/gc.properties
.gradle/5.2.1/javaCompile/classAnalysis.bin
.gradle/5.2.1/javaCompile/jarAnalysis.bin
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
TestLogs.out
appiumLogs
.idea/.name
.idea/uiDesigner.xml
build/classes/groovy/main/ReportProcessingTool/JSONProcessor$_run_closure1$_closure2.class
build/classes/groovy/main/ReportProcessingTool/JSONProcessor$_run_closure1.class
build/classes/groovy/main/ReportProcessingTool/JSONProcessor.class
build/classes/groovy/main/ReportProcessingTool/ReportGenerator.class
build/classes/groovy/main/ReportProcessingTool/TemplateProcessor$_run_closure1.class
build/classes/groovy/main/ReportProcessingTool/TemplateProcessor$_run_closure2$_closure3$_closure5.class
build/classes/groovy/main/ReportProcessingTool/TemplateProcessor$_run_closure2$_closure3.class
build/classes/groovy/main/ReportProcessingTool/TemplateProcessor$_run_closure2$_closure4$_closure6.class
build/classes/groovy/main/ReportProcessingTool/TemplateProcessor$_run_closure2$_closure4.class
build/classes/groovy/main/ReportProcessingTool/TemplateProcessor$_run_closure2.class
build/classes/groovy/main/ReportProcessingTool/TemplateProcessor.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure10$_closure16.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure10.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure11$_closure17.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure11$_closure18.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure11$_closure19.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure11.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure12.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure5.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure6.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure7$_closure15.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure7.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure8.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$__clinit__closure9.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$_copyToFileSystemHTMLandCSS_closure3$_closure13.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$_copyToFileSystemHTMLandCSS_closure3.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$_copyToFileSystemHTMLandCSS_closure4$_closure14.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$_copyToFileSystemHTMLandCSS_closure4.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$_searchForFile_closure1.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility$_searchForFile_closure2.class
build/classes/groovy/main/ReportProcessingTool/TemplateUtility.class
build/classes/groovy/test/annotations/Details.class
build/classes/groovy/test/annotations/DetailsExtension.class
build/classes/groovy/test/annotations/VersionTraces/VersionTraces.class
build/classes/groovy/test/annotations/VersionTraces/VersionTracesExtension$_visitSpecAnnotation_closure1.class
build/classes/groovy/test/annotations/VersionTraces/VersionTracesExtension.class
build/classes/groovy/test/annotations/VersionTraces/VersionTracesRunListener.class
build/classes/groovy/test/basespec/BaseSpecification.class
build/classes/groovy/test/com/globallogic/tests/acceptancetests/AboutTest.class
build/classes/groovy/test/com/globallogic/tests/acceptancetests/ConverterTest.class
build/classes/groovy/test/com/globallogic/tests/acceptancetests/SurveyTest.class
build/classes/java/test/com/globallogic/automation/pageobjects/Application.class
build/classes/java/test/com/globallogic/automation/pageobjects/enums/DeviceType.class
build/classes/java/test/com/globallogic/automation/pageobjects/enums/Platform.class
build/classes/java/test/com/globallogic/automation/pageobjects/enums/Tabs.class
build/classes/java/test/com/globallogic/automation/pageobjects/objectFactory/DriverFactory$1.class
build/classes/java/test/com/globallogic/automation/pageobjects/objectFactory/DriverFactory.class
build/classes/java/test/com/globallogic/automation/pageobjects/objectFactory/PageObjectFactory$1.class
build/classes/java/test/com/globallogic/automation/pageobjects/objectFactory/PageObjectFactory.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/BasePage/BasePage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/BasePage/IBaseInterface.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/FirstTab/AndroidFirstTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/FirstTab/IFirstTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/FirstTab/IPhoneFirstTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Login/AndroidLoginPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Login/ILoginPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Login/IPhoneLoginPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Navigations/AndroidNavigationPage$1.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Navigations/AndroidNavigationPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Navigations/INavigationPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Navigations/IPhoneNavigationPage$1.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Navigations/IPhoneNavigationPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Navigations/NavigationHandler$1.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/Navigations/NavigationHandler.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/SecondTab/AndroidSecondTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/SecondTab/IPhoneSecondTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/SecondTab/ISecondTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/ThirdTab/AndroidThirdTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/ThirdTab/IPhoneThirdTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/pages/ThirdTab/IThirdTabPage.class
build/classes/java/test/com/globallogic/automation/pageobjects/utilities/AppiumUtility.class
build/classes/java/test/com/globallogic/automation/pageobjects/utilities/LoggerHelper.class
build/classes/java/test/com/globallogic/automation/pageobjects/utilities/ScreenshotUtility.class
build/reports/tests/test/classes/com.globallogic.tests.acceptancetests.AboutTest.html
build/reports/tests/test/classes/com.globallogic.tests.acceptancetests.ConverterTest.html
build/reports/tests/test/classes/com.globallogic.tests.acceptancetests.SurveyTest.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/index.html
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/com.globallogic.tests.acceptancetests.html
build/resources/main/CustomSpockReport/StructureTemplate.css
build/resources/main/CustomSpockReport/StructureTemplate.html
build/resources/test/SpockConfig.groovy
build/resources/test/SpockReport/Custom-spock-report.json
build/resources/test/SpockReport/CustomSpockSummary-12-03-2020_15:03:58.html
build/resources/test/SpockReport/CustomSpockSummary-12-03-2020_15:04:23.html
build/resources/test/SpockReport/CustomSpockSummary-12-03-2020_15:04:34.html
build/resources/test/SpockReport/CustomSpockSummary-12-03-2020_15:04:46.html
build/resources/test/SpockReport/StructureTemplate.css
build/resources/test/SpockReport/StructureTemplate.html
build/resources/test/SpockReport/spock-report.json
build/resources/test/log4j.properties
build/spock-reports/aggregated_report.json
build/spock-reports/com.globallogic.tests.acceptancetests.AboutTest.html
build/spock-reports/com.globallogic.tests.acceptancetests.ConverterTest.html
build/spock-reports/com.globallogic.tests.acceptancetests.SurveyTest.html
build/spock-reports/index.html
build/test-results/test/TEST-com.globallogic.tests.acceptancetests.AboutTest.xml
build/test-results/test/TEST-com.globallogic.tests.acceptancetests.ConverterTest.xml
build/test-results/test/TEST-com.globallogic.tests.acceptancetests.SurveyTest.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/tmp/test/jar_extract_1147260178105665398_tmp
build/tmp/test/jar_extract_1166415390581425616_tmp
build/tmp/test/jar_extract_1238671607205816436_tmp
build/tmp/test/jar_extract_3480054665253940440_tmp
build/tmp/test/jar_extract_3700655689624392441_tmp
build/tmp/test/jar_extract_5504548633817448651_tmp
build/tmp/test/jar_extract_6162481042873396503_tmp
build/tmp/test/jar_extract_623969571155388312_tmp
build/tmp/test/jar_extract_6754838595707671685_tmp
build/tmp/test/jar_extract_7011245146582876995_tmp
build/tmp/test/jar_extract_727439927030384539_tmp
build/tmp/test/jar_extract_8691688747651618126_tmp
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries-with-intellij-classes.xml
build/classes/groovy/test/annotations/DeviceType/Real.class
build/classes/groovy/test/annotations/DeviceType/RealExtension.class
build/classes/groovy/test/annotations/PlatformTypes/AndroidOnly.class
build/classes/groovy/test/annotations/PlatformTypes/AndroidOnlyExtension.class
build/classes/groovy/test/annotations/PlatformTypes/iPhoneOnly.class
build/classes/groovy/test/annotations/PlatformTypes/IPhoneOnlyExtension.class
build/classes/java/test/com/globallogic/automation/pageobjects/STRINGID.class
build/classes/java/test/com/globallogic/automation/pageobjects/utilities/ApplicationProperties.class
build/reports/tests/testwithIDs/index.html
build/reports/tests/testwithIDs/classes/com.globallogic.tests.acceptancetests.AboutTest.html
build/reports/tests/testwithIDs/classes/com.globallogic.tests.acceptancetests.ConverterTest.html
build/reports/tests/testwithIDs/classes/com.globallogic.tests.acceptancetests.SurveyTest.html
build/reports/tests/testwithIDs/css/base-style.css
build/reports/tests/testwithIDs/css/style.css
build/reports/tests/testwithIDs/js/report.js
build/reports/tests/testwithIDs/packages/com.globallogic.tests.acceptancetests.html
build/resources/test/application.properties
build/resources/test/SpockReport/CustomSpockSummary-07-27-2021_20_18_53.html
build/resources/test/SpockReport/CustomSpockSummary-07-27-2021_20_19_17.html
build/resources/test/SpockReport/CustomSpockSummary-07-27-2021_20_19_30.html
build/test-results/testwithIDs/TEST-com.globallogic.tests.acceptancetests.AboutTest.xml
build/test-results/testwithIDs/TEST-com.globallogic.tests.acceptancetests.ConverterTest.xml
build/test-results/testwithIDs/TEST-com.globallogic.tests.acceptancetests.SurveyTest.xml
build/test-results/testwithIDs/binary/output.bin
build/test-results/testwithIDs/binary/output.bin.idx
build/test-results/testwithIDs/binary/results.bin
build/tmp/testwithIDs/jar_extract_1357717341545368640_tmp
build/tmp/testwithIDs/jar_extract_14907462851127529469_tmp
build/tmp/testwithIDs/jar_extract_15504760296316329125_tmp
build/tmp/testwithIDs/jar_extract_1573190620163049853_tmp
build/tmp/testwithIDs/jar_extract_1594987639873895868_tmp
build/tmp/testwithIDs/jar_extract_16296190524112908352_tmp
build/tmp/testwithIDs/jar_extract_17854563400512644521_tmp
build/tmp/testwithIDs/jar_extract_2430643074415766068_tmp
build/tmp/testwithIDs/jar_extract_2903648559582360497_tmp
build/tmp/testwithIDs/jar_extract_4210765028372008244_tmp
build/tmp/testwithIDs/jar_extract_7281022271251450009_tmp
build/tmp/testwithIDs/jar_extract_8838176722571638935_tmp
ExecutionData/2/Videos/ability_to_convert_celsius_to_fahrenheit.mp4
ExecutionData/3/Videos/ability_to_select_options.mp4
